<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>커뮤니티 - 리스트</title>

    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
    <div id="wrap">
        <h1>커뮤니티 - 리스트</h1>

        <div th:text="${postingList}"></div>

        <table>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>아이디</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tr th:each="item : ${postingList}">
                <td>
                    <a th:href="'/community/detail?id=' + ${item.postNum}" th:text="${item.title}"></a>
                </td>
                <td th:text="${item.userId}"></td>
                <td th:text="${item.createdAt}"></td>
            </tr>
        </table>
    </div>

</body>
</html>
