<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>커뮤니티</title>

    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
    <div id="wrap">
        <div th:replace="/fragments/layout.html" :: fragment-header(${userChecked})></div>

    </div>

    <script>


        window.onload = () => {
            const logoutBtn = document.querySelector(".logout-btn");

            const API_CONFIG = {
                LOGOUT: {
                    METHOD: 'POST',
                    URL: '/api/member/logout'
                }
            }

            logoutBtn.addEventListener('click', logoutHandler);

            async function logoutHandler(e){
                e.preventDefault();
                const { METHOD, URL } = API_CONFIG.LOGOUT;
                const response = await fetch(
                    URL,
                    {
                        method: METHOD,
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    }
                )
                    .then((res) => {
                        if(res.status === 200){
                            console.log(res);
                            window.location.href = '/';
                        }
                    })
                    .catch((err) => console.error(err));

            }

        }


    </script>

</body>
</html>
